.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
    transition: width 3s;
}

#jianan {
    padding-top: 50px;
    background-color: black;
}

li {
    float: left;
    color:aliceblue;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    background-color: grey;
    width: 25%;
}

h1 {
    text-align: left;
    padding: 10px;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    padding: 10px;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
    float: left;
    padding: 10px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}


#selfie {
    height: 200px;
    width: 200px;
    float: left;
    padding: 10px;
}

#about {
    padding-top: 150px;
}

.content {
    padding-top: 60px;
    background-color: black;
    height: 100%;
}

#name {
    float: top;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orangered;
}



.intro {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.edu {
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.exp {
    background-color: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ora {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: aliceblue;
}

.highlight {
    color: orange;
}

.flex-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.project {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.projectName {
    color: red;
    padding-left: 20px;
}

.contactIcon {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    float: left;
}

.contacts {
    font-size: 25px;
    margin-left: 70px;

}

.grid_container {
    display: grid;
    grid-template-areas: 'upLeft upRight' 'bottomLeft bottomRight';
    padding: 10px;
}

.grid_picture {
    width: 200px;
    height: auto;
    display: block;
}

.item1 {
    grid-area: upLeft;
    position: relative;
    width: 50%;
    transition: width 1s;
}

.item1:hover .overlay {
    opacity: 1;
    width: 200px;
}

.item2 {
    grid-area: upRight;
    position: relative;
    width: 50%;
    transition: width 1s;
}

.item2:hover .overlay {
    opacity: 1;
    width: 200px;
}

.item3 {
    grid-area: bottomLeft;
    position: relative;
    width: 50%;
    transition: width 1s;
}

.item3:hover .overlay {
    opacity: 1;
    width: 200px;
}

.item4 {
    grid-area: bottomRight;
    position: relative;
    width: 50%;
    transition: width 1s;
}

.item4:hover .overlay {
    opacity: 1;
    width: 200px;
}

p::first-line {
    color: orangered;
}

.text {
    color: aliceblue;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: grey;
        font-size: 18px;
    }
}